@import url(https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Roboto:100,100italic);
@import url(https://fonts.googleapis.com/css?family=Oswald);
/*Eric Meyer CSS Reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/*Reset end*/

body{
    font-family: Roboto, sans-serif;
    font-size: 16ox;
    line-height: 1.5625;
    font-weight: 100;
    background: #eee;
}

.wrapper{
    max-width: 940px;
    padding: 85px 10px 10px 10px;
    margin: 0 auto;
    display: block;
}

#site-header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #FFF;

    
}

#site-header h1 a{
    font-size: 36px;
    line-height: 60px;
    color: #e91e63;
    font-family: 'Fontdiner Swanky', serif;
    text-decoration: none;
    display: block;
    width: 940px;
    margin: 0 auto;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.25);
}

h2{
    color: #e91e63;
    font-family: 'Fontdiner Swanky', serif;
    font-size: 24px;
    margin-bottom: 25pz;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.25);
}

#gallery-list{

}
    #gallery-list li{
        width: 300px;
        float: left;
        margin-bottom: 25px;
        border-radius: 8px;
        overflow: hidden;
        border: solid 1px #aaa;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        background: #fff;
    }

    #gallery-list li a{
        text-decoration: none;
    }
    #gallery-list figure{
        width: inherit;    
    }
        #gallery-list figure img{
            display: block;
        }
        #gallery-list figure h3{
            color: #000;
            padding: 10px;
            border-top: solid 1px #ccc;
            border-bottom: solid 1px #ccc;
        }
        #gallery-list figure p{
            color: #000;
            font-size: 80%;
            padding: 10px;
        }

#site-header,
#gallery-list li{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

form{
}
    
    form ol{
    }
    
    form li{
        margin-bottom: 25px;
        word-spacing: -5px;
    }

    form input[type="text"],
    form textarea{
        width: calc(100% - 140px);
        padding: 10px;
        margin: 0;
        border: 1px solid #e91e63;
        background: #fff;
        box-sizing: border-box;
    }

    form label{
        display: inline-block;
        width: 100px;
    }

    form input, form textarea{
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    form input[type="submit"]{
        background: #e91e63;
        color: white;
        font-family: inherit;
        border: none;
        cursor: pointer;
        padding: 8px 16px;
        float: right;
    }

p.errors{
    background: #e91e63;
    color: #fff;
    padding: 10px;
    margin-bottom: 25px;
    width: calc( 100% - 20px );
    word-spacing: normal;
}


/*file input styling "hack"*/

.file-browse-conainer{
    width: 100px;
    height: 48px;
    overflow: hidden;
    position: relative;
    float: left;
}

.file-browse-conainer input[type="file"]{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.file-browse-button{
    background: #e91e63;
    color: white;
    font-family: inherit;
    border: none;
    cursor: pointer;
    display: block;
    padding: 8px 16px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}


